body {
  margin-left: 0;
  overflow-x: hidden;
  height: 100vh;
}

@font-face {
  font-family: "8-bit";
  src: url("./fonts/8-bit.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  font-family: "8-bit";
}

html {
  background-image: url("./images/green.jpg");
  background-size: cover;
}

#background_img {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  bottom: 0;
  z-index: -10;
  margin: 0;
}

#logo {
  height: 80px;
  width: auto;
  margin: 10px auto;
  display: block;
  text-align: center;
}

#bulbasaur {
  position: absolute;
  top: 2%;
  right: 2%;
  z-index: -5;
  height: 175px;
  width: auto;
}

#charizard {
  position: absolute;
  top: 2%;
  left: 2%;
  z-index: -5;
  height: 175px;
  width: auto;
}

#pikachu {
  z-index: -5;
  height: 150px;
  width: auto;
  position: absolute;
  bottom: 2%;
  left: 2%;
}

#squirtle {
  z-index: -5;
  height: 150px;
  width: auto;
  position: absolute;
  bottom: 2%;
  right: 2%;
}

#battlefield {
  margin: 20px auto;
  width: min-content;
  position: relative;
  border-radius: 12px;
  padding: 0;
}

.center-image {
  border: 7px outset limegreen;
  display: block;
  width: 500px;
  height: auto;
  padding: 5px;
  border-radius: 12px;
  background-color: black;
}

.overlay-image {
  position: absolute;
  bottom: 4%;
  left: 24%;
}

.overlay-image2 {
  position: absolute;
  top: 22%;
  right: 15%;
}

/* grid stuff */

#myPokemon {
  grid-area: myPokemon;
}
#myPokemon2 {
  grid-area: enemyPokemon;
}

#comparePokemon {
  grid-area: compare;
  padding: 0;
}

#reset {
  grid-area: reset;
}

#predictWinner {
  grid-area: winner;
  padding-top: 10px;
}

#input-group {
  margin: 10px auto;
  min-height: 15vh;
  display: grid;
  grid-template-columns: 0.7fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 0.5fr;
  grid-template-areas:
    "myPokemon  winner winner"
    "enemyPokemon winner winner"
    "compare . ."
    "reset . .";
  gap: 1%;
  border: 7px outset red;
  border-radius: 12px;
  padding: 10px;
  min-width: 556px;
  max-width: 679px;
  background-color: #f2f2f2;
}

@media (max-width: 890px) {
  #input-group {
    max-width: 553px;
    margin: 10px auto;
  }
}
