/* body {
  background-image: url(./gen3_overlay_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 556px;
  height: 371px;
  margin: 0 auto;
  text-align: center;
} */

@font-face {
  font-family: "8-bit"; /* Choose a name for your font */
  src: url("./fonts/8-bit.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  font-family: "8-bit";
}

/* body {
  min-height: 100vh;
  width: 1053px;
  margin: 0 auto;
} */

#logo {
  height: 80px;
  width: auto;
  margin: 10px auto;
  display: block;
  text-align: center;
}

#battlefield {
  /* background-image: url(./pokemon_battlefield_1.jpeg);
  background-repeat: no-repeat;
  background-size: cover; */
  /* width: 556px; */
  margin: 20px auto;
  /* width: 100vw;
  max-width: 1053px; */
  /* text-align: center; */
  /* border: 5px solid red; */
  width: min-content;
  position: relative;
  border-radius: 12px;
  padding: 0;
}

/* #battlefield {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  8:38
} */
.center-image {
  /* width: 100%; */
  border: 7px outset limegreen;
  display: block;
  width: 500px;
  height: auto;
  border-radius: 12px;
}

.overlay-image {
  position: absolute;
  bottom: 4%;
  left: 24%;
}

.overlay-image2 {
  position: absolute;
  top: 18%;
  right: 15%;
}

/* grid stuff */

#myPokemon {
  grid-area: myPokemon;
}
#myPokemon2 {
  grid-area: enemyPokemon;
}

#comparePokemon {
  grid-area: compare;
  padding: 0;
}

#reset {
  grid-area: reset;
}

#predictWinner {
  grid-area: winner;
}

#input-group {
  margin: 10px auto;
  min-height: 15vh;
  display: grid;
  grid-template-columns: 0.7fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 0.5fr;
  grid-template-areas:
    "myPokemon  winner winner"
    "enemyPokemon winner winner"
    "compare . ."
    "reset . .";
  gap: 1%;
  border: 7px outset red;
  border-radius: 12px;
  padding: 4px;
  min-width: 556px;
  max-width: 679px;
}

/* max-width: 890 */
@media (max-width: 890px) {
  #input-group {
    max-width: 553px;
    /* margin-right: 150px;
    margin-left: auto; */
    margin: 10px auto;
  }
}
